{% extends "home/base.html" %}
{% load static %}

{% block title %}{{ home }}{% endblock %}


{% block contents %}


    <body
            class="bg-black text-white mt-0"
            data-bs-spy="scroll"
            data-bs-target="#navScroll"
    >
    <main>
        {% include "components/navbar.html" %}
        <div
                id="home"
                class="w-100 hero overflow-hidden position-relative bg-black text-white"
                data-aos="fade"
        >
            <div
                    class="position-absolute w-100 h-100 bg-black opacity-75 top-0 start-0"
            ></div>
            <div
                    class="container py-vh-4 position-relative mt-5 px-vw-5 text-center"
            >
                <div
                        class="row d-flex align-items-center justify-content-center py-vh-5"
                >
                    <div class="col-12 col-xl-10">
                        <span class="h5 fw-lighter">Our Mission</span>
                        <h1 style="color: #00ffda" class="display-huge mt-3 mb-3 lh-1">
                            Revolutionize the manufacturing industry
                        </h1>
                    </div>
                    <div class="col-12 col-xl-8">
                        <p class="lead">
                            To provide high-quality, cost-effective, and flexible solutions in additive manufacturing
                            and contract manufacturing to help our clients achieve their goals and reimagine their
                            production process.
                        </p>
                    </div>
                    <div class="col-12 text-center">
                        <a href="{% url "upload" %}" class="btn btn-xl btn-light"
                        >Upload Design
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-arrow-right"
                                    viewBox="0 0 16 16"
                            >
                                <path
                                        fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div
                class="w-100 position-relative bg-black text-white bg-cover d-flex align-items-center"
        >
            <div class="container-fluid px-vw-5">
                <div
                        class="position-absolute w-100 h-50 bg-dark bottom-0 start-0"
                ></div>
                <div
                        class="row d-flex align-items-center position-relative justify-content-center px-0 g-5"
                >
                    <div class="col-12 col-lg-6">
                        <img
                                src="{% static "img/abstract18.jpg" %}"
                                width="2280"
                                height="1732"
                                alt="abstract image"
                                class="img-fluid position-relative rounded-5 shadow"
                                data-aos="fade-up"
                        />
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <img
                                src="{% static "img/abstract6.jpg" %}"
                                width="1116"
                                height="1578"
                                alt="abstract image"
                                class="img-fluid position-relative rounded-5 shadow"
                                data-aos="fade-up"
                                data-aos-duration="2000"
                        />
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <img
                                src="{% static "img/abstract9.jpg" %}"
                                width="1116"
                                height="848"
                                alt="abstract image"
                                class="img-fluid position-relative rounded-5 shadow"
                                data-aos="fade-up"
                                data-aos-duration="3000"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div id="about" style="min-height: 100vh !important" class="bg-dark">
            <div class="container px-vw-5 py-vh-5">
                <div class="row d-flex align-items-center">
                    <div
                            class="col-12 col-lg-5 text-center text-lg-end"
                            data-aos="zoom-in-right"
                    >
                        <!-- <span class="h5 fw-lighter">Who We Are</span> -->
                        <h2 class="display-4">About Us</h2>
                    </div>
                    <div
                            class="col-12 col-lg-7 bg-dark rounded-5 py-vh-3 text-center my-5"
                            data-aos="zoom-in-up"
                    >
                        <h2 class="mb-5">
                            <span class="h5 fw-lighter">Who We Are</span>
                            <!-- <span class="border-bottom border-5">499</span> -->
                            <!-- <span class="fs-6 fw-light">/day</span> -->
                        </h2>
                        <p style="text-align: left;" class="lead">
                            We are a group of passionate engineers who really wish to showcase their creativity through
                            innovative developments in metal additive manufacturing. Our product is expected to be
                            revolutionary in the sector and will have a huge impact on the gold ornament industry. We
                            also offer metal casting and 3D printing at a reasonable price.
                            . We are committed to providing high-quality products that meet the unique needs of our
                            clients, and we strive to deliver exceptional customer service with each project we
                            undertake. Whether it's through our metal casting or 3D printing services, we are dedicated
                            to revolutionizing the gold ornament industry and beyond
                        </p>
                        <a href="#" class="btn btn-xl btn-light"
                        >Sign up
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-arrow-right"
                                    viewBox="0 0 16 16"
                            >
                                <path
                                        fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="services" class="bg-black py-vh-3">
            <div class="container bg-black px-vw-5 py-vh-3 rounded-5 shadow">
                <div class="row gx-5">
                    <div class="p-5 pt-0 mt-5" data-aos="fade">
                        <span class="h5 fw-lighter">What We Provide</span>
                        <h2 class="display-4">Services</h2>
                    </div>
                    {% for service in services %}
                        <div class="col-12 col-md-6">

                            <div class="card bg-transparent mb-5" data-aos="zoom-in-up">
                                <div class="bg-dark shadow rounded-5 p-0">
                                    <div class="p-5">
                                        <h2>{{ service.title }}</h2>
                                        <p class="pb-4">
                                            {{ service.description }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>

        <div id="why" class="bg-dark">
            <div class="container px-vw-5 py-vh-5">
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-lg-7 text-lg-end" data-aos="fade-right">
                        <span class="h5 fw-lighter">Special About Us</span>
                        <h2 class="display-4">Why inbam ?</h2>
                    </div>
                    <div class="col-12 col-lg-5" data-aos="fade-left">
                        {% for why in why_choose_us %}

                            <h3 class="pt-5">{{ why.title }}</h3>
                            <p class="text-secondary">
                                {{ why.description }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-black border-top border-dark">
        <div class="container text-center small py-2 border-top border-dark">
            &copy;
            <script>
                document.write(new Date().getFullYear());
            </script>
            <a href="#" class="link-fancy link-fancy-light">inbam</a> All Rights
            Reserved
        </div>
        <div class="header-social-links d-flex align-items-center justify-content-center p-1 pb-2">
            <a href="#" target="blank" class="instagram"><i
                    class="bi bi-instagram"></i></a>
            <a href="#" target="blank" class="facebook"><i
                    class="bi bi-facebook"></i></a>
            <a href="#" target="blank" class="linkedin"><i
                    class="bi bi-linkedin"></i></a>
            <a href="#" target="blank" class="twitter"><i class="bi bi-twitter"></i></a>
        </div>
    </footer>


    <script src="{% static "js/aos.js" %}"></script>
    <script>
        AOS.init({
            duration: 800,
        });
    </script>
    <script>
        let scrollpos = window.scrollY;
        const header = document.querySelector(".navbar");
        const header_height = header.offsetHeight;

        const add_class_on_scroll = () =>
            header.classList.add("scrolled", "shadow-sm");
        const remove_class_on_scroll = () =>
            header.classList.remove("scrolled", "shadow-sm");

        window.addEventListener("scroll", function () {
            scrollpos = window.scrollY;

            if (scrollpos >= header_height) {
                add_class_on_scroll();
            } else {
                remove_class_on_scroll();
            }

            console.log(scrollpos);
        });
    </script>
    </body>

{% endblock %}
