{% extends "home/base.html" %}
{% load static %}

{% block title %}{{ home }}{% endblock %}


{% block contents %}


    <body
            class="bg-black text-white mt-0"
            data-bs-spy="scroll"
            data-bs-target="#navScroll"
    >
    <main>
        <nav
                class="navbar navbar-expand-lg navbar-dark fixed-top p-0"
                data-navbar-on-scroll="data-navbar-on-scroll"
        >
            <div class="container">
                <a class="navbar-brand" href="index.html"
                ><img src="{% static "img/logo.png" %}" height="90" alt="logo"
                /></a>
                <button
                        class=" navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"> </span>
                </button>
                <div
                        class="collapse navbar-collapse mt-4 mt-lg-0"
                        id="navbarSupportedContent"
                >
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item m-3">
                            <a
                                    style="font-weight: 900"
                                    class="link-fancy link-fancy-light"
                                    aria-current="page"
                                    href="#home"
                            >Home</a
                            >
                        </li>
                        <li class="nav-item m-3">
                            <a
                                    style="font-weight: 900"
                                    class="link-fancy link-fancy-light"
                                    aria-current="page"
                                    href="#about"
                            >About</a
                            >
                        </li>
                        <li class="nav-item m-3">
                            <a
                                    style="font-weight: 900"
                                    class="link-fancy link-fancy-light"
                                    aria-current="page"
                                    href="#services"
                            >Services</a
                            >
                        </li>
                        <li class="nav-item m-3">
                            <a
                                    style="font-weight: 900"
                                    class="link-fancy link-fancy-light"
                                    aria-current="page"
                                    href="#why"
                            >Why Inbum ?</a
                            >
                        </li>
                    </ul>
                    <div class="d-flex ms-lg-4 m-sm-2 mb-4">
                        <a class="btn btn-outline-light" href="/signin.html">Sign In</a
                        ><a class="btn btn-light ms-3" href="/signup.html">Sign Up</a>
                    </div>
                </div>
            </div>
        </nav>

        <div
                id="home"
                class="w-100 hero overflow-hidden position-relative bg-black text-white"
                data-aos="fade"
        >
            <div
                    class="position-absolute w-100 h-100 bg-black opacity-75 top-0 start-0"
            ></div>
            <div
                    class="container py-vh-4 position-relative mt-5 px-vw-5 text-center"
            >
                <div
                        class="row d-flex align-items-center justify-content-center py-vh-5"
                >
                    <div class="col-12 col-xl-10">
                        <span class="h5 fw-lighter">Our Mission</span>
                        <h1 style="color: #00ffda" class="display-huge mt-3 mb-3 lh-1">
                            We do ordinary stuff for cool people
                        </h1>
                    </div>
                    <div class="col-12 col-xl-8">
                        <p class="lead">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis
                            modi ratione provident vero hic autem nemo ullam corrupti.
                            Dolore quae nemo dolor reprehenderit est placeat ipsa veniam
                            porro eos.
                        </p>
                    </div>
                    <div class="col-12 text-center">
                        <a href="#" class="btn btn-xl btn-light"
                        >Upload Design
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-arrow-right"
                                    viewBox="0 0 16 16"
                            >
                                <path
                                        fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div
                class="w-100 position-relative bg-black text-white bg-cover d-flex align-items-center"
        >
            <div class="container-fluid px-vw-5">
                <div
                        class="position-absolute w-100 h-50 bg-dark bottom-0 start-0"
                ></div>
                <div
                        class="row d-flex align-items-center position-relative justify-content-center px-0 g-5"
                >
                    <div class="col-12 col-lg-6">
                        <img
                                src="{% static "img/abstract18.jpg" %}"
                                width="2280"
                                height="1732"
                                alt="abstract image"
                                class="img-fluid position-relative rounded-5 shadow"
                                data-aos="fade-up"
                        />
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <img
                                src="{% static "img/abstract6.jpg" %}"
                                width="1116"
                                height="1578"
                                alt="abstract image"
                                class="img-fluid position-relative rounded-5 shadow"
                                data-aos="fade-up"
                                data-aos-duration="2000"
                        />
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <img
                                src="{% static "img/abstract9.jpg" %}"
                                width="1116"
                                height="848"
                                alt="abstract image"
                                class="img-fluid position-relative rounded-5 shadow"
                                data-aos="fade-up"
                                data-aos-duration="3000"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div id="about" style="min-height: 100vh !important" class="bg-dark">
            <div class="container px-vw-5 py-vh-5">
                <div class="row d-flex align-items-center">
                    <div
                            class="col-12 col-lg-5 text-center text-lg-end"
                            data-aos="zoom-in-right"
                    >
                        <!-- <span class="h5 fw-lighter">Who We Are</span> -->
                        <h2 class="display-4">About Us</h2>
                    </div>
                    <div
                            class="col-12 col-lg-7 bg-dark rounded-5 py-vh-3 text-center my-5"
                            data-aos="zoom-in-up"
                    >
                        <h2 class="mb-5">
                            <span class="h5 fw-lighter">Who We Are</span>
                            <!-- <span class="border-bottom border-5">499</span> -->
                            <!-- <span class="fs-6 fw-light">/day</span> -->
                        </h2>
                        <p style="text-align: left;" class="lead">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Consequatur ex ducimus repellat eos beatae doloremque dolor?
                            Similique nihil velit perspiciatis illo ex, accusantium eligendi
                            placeat. Rem debitis, aliquam mollitia dolorem quod accusamus.
                            Repudiandae quibusdam omnis facere excepturi eaque iste culpa
                            accusamus reprehenderit. Vel illo possimus, dolorem quas qui
                            omnis sit minima ducimus repudiandae, temporibus ea quis
                            assumenda natus ratione dolores at quisquam culpa quos autem
                            atque? Soluta amet illum eos, nesciunt velit itaque omnis! Vel
                            saepe dolor eum unde blanditiis perferendis accusantium totam
                            cumque aspernatur atque eius ipsam, omnis quasi! Quisquam ipsa
                            quo illum quas blanditiis autem aliquam voluptatibus veritatis.
                        </p>
                        <a href="#" class="btn btn-xl btn-light"
                        >Sign up
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-arrow-right"
                                    viewBox="0 0 16 16"
                            >
                                <path
                                        fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="services" class="bg-black py-vh-3">
            <div class="container bg-black px-vw-5 py-vh-3 rounded-5 shadow">
                <div class="row gx-5">
                    <div class="p-5 pt-0 mt-5" data-aos="fade">
                        <span class="h5 fw-lighter">What We Provide</span>
                        <h2 class="display-4">Services</h2>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card bg-transparent mb-5" data-aos="zoom-in-up">
                            <div class="bg-dark shadow rounded-5 p-0">
                                <div class="p-5">
                                    <h2>Ipsum dolor est</h2>
                                    <p class="pb-4">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                        magna aliquyam erat.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card bg-transparent" data-aos="zoom-in-up">
                            <div class="bg-dark shadow rounded-5 p-0">
                                <div class="p-5">
                                    <h2>Ipsum dolor est</h2>
                                    <p class="pb-4">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                        magna aliquyam erat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card bg-transparent mb-5 mt-5" data-aos="zoom-in-up">
                            <div class="bg-dark shadow rounded-5 p-0">
                                <div class="p-5">
                                    <h2>Ipsum dolor est</h2>
                                    <p class="pb-4">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                        magna aliquyam erat.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card bg-transparent" data-aos="zoom-in-up">
                            <div class="bg-dark shadow rounded-5 p-0">
                                <div class="p-5">
                                    <h2>Ipsum dolor est</h2>
                                    <p class="pb-4">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                        magna aliquyam erat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="why" class="bg-dark">
            <div class="container px-vw-5 py-vh-5">
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-lg-7 text-lg-end" data-aos="fade-right">
                        <span class="h5 fw-lighter">Special About Us</span>
                        <h2 class="display-4">Why Inbum ?</h2>
                    </div>
                    <div class="col-12 col-lg-5" data-aos="fade-left">
                        <h3 class="pt-5">Product Design & Strategy</h3>
                        <p class="text-secondary">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                            diam nonumy eirmod tempor invidunt ut labore et dolore magna
                            aliquyam erat, sed diam voluptua.
                            <!-- <a href="#" class="link-fancy link-fancy-light me-2"
                              >Tell me more</a
                            >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              fill="currentColor"
                              class="bi bi-arrow-right-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                              />
                            </svg> -->
                        </p>
                        <h3 class="border-top border-secondary pt-5 mt-5">
                            Development & Engineering
                        </h3>
                        <p class="text-secondary">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                            diam nonumy eirmod tempor invidunt ut labore et dolore magna
                            aliquyam erat, sed diam voluptua.
                            <!-- <a href="#" class="link-fancy link-fancy-light me-2"
                              >Tell me more</a
                            >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              fill="currentColor"
                              class="bi bi-arrow-right-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                              />
                            </svg> -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-black border-top border-dark">
        <div class="container text-center small py-2 border-top border-dark">
            &copy;
            <script>
                document.write(new Date().getFullYear());
            </script>
            <a href="#" class="link-fancy link-fancy-light">INBUM</a> All Rights
            Reserved
        </div>
        <div class="header-social-links d-flex align-items-center justify-content-center p-1 pb-2">
            <a href="#" target="blank" class="instagram"><i
                    class="bi bi-instagram"></i></a>
            <a href="#" target="blank" class="facebook"><i
                    class="bi bi-facebook"></i></a>
            <a href="#" target="blank" class="linkedin"><i
                    class="bi bi-linkedin"></i></a>
            <a href="#" target="blank" class="twitter"><i class="bi bi-twitter"></i></a>
        </div>
    </footer>

    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"
    ></script>
    <script src="{% static "js/aos.js" %}"></script>
    <script>
        AOS.init({
            duration: 800,
        });
    </script>
    <script>
        let scrollpos = window.scrollY;
        const header = document.querySelector(".navbar");
        const header_height = header.offsetHeight;

        const add_class_on_scroll = () =>
            header.classList.add("scrolled", "shadow-sm");
        const remove_class_on_scroll = () =>
            header.classList.remove("scrolled", "shadow-sm");

        window.addEventListener("scroll", function () {
            scrollpos = window.scrollY;

            if (scrollpos >= header_height) {
                add_class_on_scroll();
            } else {
                remove_class_on_scroll();
            }

            console.log(scrollpos);
        });
    </script>
    </body>

{% endblock %}